<div class="main">
    <div class="page-title">
        <h1>SNS等リンク</h1>
    </div>
    <div class="snslink-item">
        <table>
            <% @snslinks.each do |snslink| %>
                <tr>
                    <td><%= snslink.app %></td>
                    <td><%= link_to(snslink.account, snslink.url)%></td>
                    <td><%= link_to("詳細", "/snslinks/#{snslink.id}/detail") %></td>
                </tr>
            <% end %>
        </table>
    </div>
</div>